/*Navigation CSS*/
nav{
    width: @maxWidth;
    height: 50px;
    background-color: @navBarBgColor;
    .border(@navigationBorderColor);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    #nav-bar{
        .border(red)
    }
}
