/*Navigation CSS Begins*/

.navigation{
    position: fixed;
    top: 0;
    width: @maxWidth;
    -webkit-transition:  all .3s ease-in-out;
    transition:  all .3s ease-in-out;
    z-index: 9999;

    .nav-container{
        width:  80%;
        margin: 20px auto 10px auto;
        .flexBox(row, wrap, space-between, center); 

        .logo-container{
            width: 20%;
            color: @navLogoTxtColor; 
            .flexBox(columns, wrap, space-between, flex-start); 

            .nav-logo-mic{
                margin-right: 10px;

                .logo-mic{
                    font-size: 5.8rem;
                }

                &.logo-mic-min{
                    font-size: 1rem;
                }
            }


            .nav-logo-txt{
                .flexBox(row, wrap, space-between, flex-start);

                .nav-logo-heading{
                    margin: 0;
                    .fontFam(@NavLogoFont, 2.2rem);
                }

                .nav-logo-tagline{
                    margin: 3px 0 0 0;
                    .fontFam(@NavTxtFont, .8rem);
                }
            }
        }

        .nav-bar{
            .flexBox(row, wrap, space-evenly, center);

            .nav-list{
                list-style-type: none;

                .nav-items{
                    margin: 0;
                    padding: 0;
                    display: inline-block; 

                    .nav-link{
                        padding: 10px;
                        .fontFam(@NavTxtFont, 1rem); 
                        color: @navLogoTxtColor; 
                        text-align: right;
                        text-decoration: none;
                        cursor: pointer;
                        -webkit-transition:  all .3s ease-in-out;
                        transition:  all .3s ease-in-out;

                        &:hover{
                            color: red;
                            border-bottom: red 3px solid;
                            font-weight: bold;

                        }
                    }
                }
            }
        }
    }

    &.transparent-bg{
        background-color: transparent;
    }

    &.solid-bg{
            background-color: @navBarBgColor;
    }

}

/*Navigation CSS Ends*/