//General Variables 
@maxWidth: 100%;

//Fonts
@AntonFont: 'Anton', sans-serif;
@RalewayFont: 'Raleway', sans-serif;

//Navigation Variables 

// #Nav-Bar
@navBarBgColor:  yellow;
@navigationBorderColor: black;