//General Variables 
@maxWidth: 100%;

//Fonts
@NavTxtFont: 'Montserrat', sans-serif;
@NavLogoFont: 'Raleway', sans-serif;

//Navigation Variables 

// #Nav-Bar
@navBarBgColor:  #333;

//Nav Logo
@NavLogoWidth: 200px;
@NavLogoHeight: 100px;
@navLogoBgColor: #fff;
@LogoBorderColor: black;
@navLogoTxtColor:black;