//General Variables 
@maxWidth: 100%;
@contentWidth: 80%;

//Fonts
@NavTxtFont: 'Montserrat', sans-serif;
@NavLogoFont: 'Cardo',  sans-serif;
@CTAFont: 'Raleway',sans-serif;

//Navigation Variables 

// #Nav-Bar
@navBarBgColor:  #fff;
@navBarBgColorTrans: rgba(0,0,128,.9);

//Nav Logo
@NavLogoWidth: 200px;
@NavLogoHeight: 100px;
@navLogoBgColor: #fff;
@LogoBorderColor: black;
@navLogoTxtColor:white;