#main-content{
    width: @maxWidth;
    margin: 0 auto;
    padding: 0;
    .border(blue);
    .flexBox(row, nowrap, center, center);

    .section-container{
        width: @contentWidth;
        margin: 0 auto;
        padding: 50px;
        .border(red);
    }
}