.cta-header{

    position: relative;
    top: 0;
    width: @maxWidth;
    height: 950px;
    margin: 0 auto;
    padding: 0;
    background: linear-gradient(rgba(0,0,0,.9), rgba(0, 0, 80, .5),rgba(0,0,128,.5)), url('../../imgs/mixer3.jpg');
    background-position: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    animation: bg-animation linear 50s infinite;

    @keyframes bg-animation{
        from{
            background-size: 100% 100%;
      ;
        }
        to{
            background-size: 130% 130%;
         
        }
    }

    .cta-container{
        position: relative;
        top: 22%;
        width: @contentWidth;
        margin: 0 auto;
        color: #fff;
        .flexBox(row, wrap, space-between, center);

        .cta-heading{
            width: 50%;
            margin: 0;
            .fontFam(@CTAFont, 7.8rem);
        }

        .cta-sub-heading{
            width: @maxWidth;
            margin: 5px 0;
            .fontFam(@SectionHeadingFont, 2.5rem);
        }

        .cta-btn{
            width: 500px;
            margin-top: 30px;
            padding: 20px;
            background-color: green;
            border: 0;
            border-radius: 50px;
            outline: 0;
        }
    }
}